<% if (eventData) { %>
    <div class="Compete-Container">
        <h1 class="Title"><%- eventData.event.eventTitle %></h1>
        <!-- <a href="/scrambles"><button class="Back-To-Scrambles-Button">חזור לערבובים</button></a><br/> -->
        
        <div class="Scramble-Container">
            <% for (let i = 0; i < eventData.scrambles.length; i++) { %>
                <div class="Scramble-Text-Container" id="scrContainer<%- i %>" hidden>
                    <p class="Scramble-Text" style="direction: ltr; white-space: pre-wrap; text-align: center;"> <%- eventData.scrambles[i].replaceAll(' ', '  ') %></p>
                    <div class="Scramble-Img" id="scrImg<%- i %>">
                        <%- eventData.scrImages[i] %>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="Time-Input-Container">
            <input type="text" oninput="" id="timeInput"/>

            <div class="Penalty-Select-Container">
                <button class="Plus-2-Btn" id="plus2Btn" style="direction: ltr;">+2</button>
                <button class="DNF-Btn" id="dnfBtn">DNF</button>
            </div>

            <label class="Time-Preview-Lbl" id="timePreviewLbl">-</label>

            <button class="Submit-Time-Btn" id="submitTimeBtn">הגש תוצאה</button>
        </div>

        <div class="Scramble-Control-Container">
            <button id="prevScrBtn" class="Prev-Scr-Btn">הקודם</button>
            <p id="scrNumberTitle" class="Scramble-Number-Title"></p>
            <button id="nextScrBtn" class="Next-Scr-Btn">הבא</button>
        </div>

        <script>
            const scrambles = `<%- eventData.scrambles %>`.split(',');
            for (let i = 0; i < scrambles.length; i++)
                scrambles[i] = scrambles[i].trim();
        </script>
        <script src="/src/scripts/pages/compete.js"></script>
    </div>
<% } else { %>
    <div class="Not-Found-Container">
        <h1 class="Title">מקצה לא קיים</h1>
    </div>
<% } %>
