<% if (eventData) { %>
    <h1 style="font-size: 300%" class="Title"><%- eventData.event.eventTitle %></h1>
    <div class="Compete-Container">
        <!-- <a href="/scrambles"><button class="Back-To-Scrambles-Button">חזור לערבובים</button></a><br/> -->
        
        <div class="Scrambles-Container">
            <% for (let i = 0; i < eventData.scrambles.length; i++) { %>
                <div class="Scramble-Text-Container" id="scrContainer<%- i %>" <% if (i != 0) { %> hidden <% } %> >
                    <p class="Scramble-Text" style="direction: ltr; white-space: pre-wrap;"> <%- eventData.scrambles[i].replaceAll(' ', '  ') %></p>
                    <div class="Scramble-Img" id="scrImg<%- i %>">
                        <%- eventData.scrImages[i] %>
                    </div>
                </div>
            <% } %>
        </div>

        <div class="Time-Input-Container">
            <div class="Input-And-Penalty-Container">
                <input type="text" oninput="" id="timeInput" maxlength="12"/>

                <div class="Penalty-Select-Container">
                    <button class="Plus-2-Btn" id="plus2Btn" style="direction: ltr;">+2</button>
                    <button class="DNF-Btn" id="dnfBtn">DNF</button>
                </div>
            </div>

            <div class="Preview-And-Submit-Container">
                <label class="Time-Preview-Lbl" id="timePreviewLbl">-</label>

                <button class="Submit-Time-Btn" id="submitTimeBtn">הגש תוצאה</button>
            </div>
        </div>

        <script>
            const scrambles = `<%- eventData.scrambles %>`.split(',');
            for (let i = 0; i < scrambles.length; i++)
                scrambles[i] = scrambles[i].trim();

            const eventId = `<%- eventData.event.eventId %>`;
        </script>
    </div>

    <div class="Scramble-Control-Container">
        <button id="prevScrBtn" class="Prev-Scr-Btn">הקודם</button>
        <p id="scrNumberTitle" class="Scramble-Number-Title"></p>
        <button id="nextScrBtn" class="Next-Scr-Btn">הבא</button>
    </div>
    <script src="/src/scripts/pages/compete.js"></script>
<% } else { %>
    <div class="Not-Found-Container">
        <h1 class="Title">מקצה לא קיים</h1>
    </div>
<% } %>
